* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

img {
    width: 5%;
    margin: 5px 10px;
}

header, .navbar {
    display: flex;
    width: 100%;
    list-style: none;
}

header {
    justify-content: space-between;
    background: rgb(238, 238, 238);
}

.navbar {
    width: 30%;
    justify-content: space-around;
}

.main, .foot {
    margin: 20px 20px;
}