@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px auto;
}

.input, .btn {
  width: 30%;
  margin: 10px auto;
}

.list {
  margin: 10px auto;
}